/* ==========================================================================
   button / component
   ========================================================================== */

.button {
    background-color: var(--color-primary);
    padding: 15px 30px;
    color: var(--color-white);
}
