.swiper {
    img {
        width: 50%;
        height: 50%;

        margin-right: 150px;
    }

    .swiper-slide {
        display: flex;
        align-items: center;
        text-align: center;
    }

    .button {
        margin-top: 30px;
    }
}
