.formulaire {
    padding: 150px 0;

    .wrapper {
        h1 {
            color: black;
            text-align: center;
            margin-bottom: 150px;
        }

        h2 {
            text-align: center;
            color: black;
            background-image: none;
        }

        /*.input {
            display: flex;
            flex-direction: column;

            margin-bottom: 25px;
        }*/
    }

    .form {
        --input-radius: 3px;
        --input-padding: 1em;

        fieldset {
            border: none;
            padding: 0;
        }

        .grid {
            display: grid;
            gap: var(--spacing-md);
            grid-template-columns: 1fr;

            @media screen and (min-width: $breakpoint-md) {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    .input__label {
        display: block;
        font-family: var(--font-primary);
        font-size: 600;
    }

    .input__element {
        border-radius: var(--input-radius);
        background-color: var(--color-white);
        border: none;
        box-shadow: 0 1px 2px rgba($color: #000000, $alpha: 0.5);
        cursor: pointer;
        font-family: inherit;
        outline: none;
        padding: var(--input-padding);
        width: 100%;

        &:-webkit-autofill,
        &:-webkit-autofill:active {
            -webkit-box-shadow: inset 0 0 0 30px var(--color-white) !important;
            -webkit-text-fill-color: inherit !important;
        }

        //hover
        &:hover {
            background-color: var(--color-neutral-light);
            -webkit-box-shadow: inset 0 0 0 30px var(--color-neutral-light) !important;
        }

        //focus
        &:focus,
        &:-webkit-autofill:focus {
            background-color: var(--color-primary);
            box-shadow: 0 2px 4px rgba($color: #000000, $alpha: 0.5);
            -webkit-box-shadow: inset 0 0 0 30px var(--color-primary) !important;
        }

        //autocomplet
        &::placeholder {
            color: var(--color-neutral-dark);
        }
    }

    /* 
     select
     ================================================================== */

    .select {
        position: relative;

        .input__element {
            appearance: none;
            padding-right: var(--spacing-md);

            &:invalid {
                color: var(--color-neutral-dark);
            }
        }

        option {
            background-color: var(--color-white);
            color: var(--color-black);
        }

        &::after {
            --size: 12px;
            content: '';
            background: url('../assets/images/icon-chevron-down.svg') no-repeat
                50% 50%;
            background-size: 100%;
            height: var(--size);
            position: absolute;
            pointer-events: none;
            top: 50%;
            transform: translateY(50%);
            right: var(--input-padding);
            width: var(--size);
        }
    }

    /* 
     textarea
     ================================== */

    .textarea {
        .input__element {
            resize: vertical;
            height: 150px;
        }
    }

    /* 
     checkbox
     ================================== */

    .checkbox {
        .input__element {
            opacity: 0;
            position: absolute;
            z-index: -1;

            display: flex;

            border: 1px solid black;
            width: 25px;
            height: 25px;
        }

        .input__label {
            --size: 22px;

            cursor: pointer;
            overflow: hidden;
            padding-left: calc(var(-- size) + var(-- spacing-sm));
            position: relative;

            &::before,
            &::after {
                content: '';
                height: var(-- size);
                position: absolute;
                left: 0;
                top: 0;
                width: var(-- size);
            }

            &::before {
                background-color: var(-- color-white);
                border-radius: var(-- input-radius);
                box-shadow: 01px 2px Orgba(0, 0, 0, 0.5);
            }
        }
    }

    .buttonSpecial {
        display: none;
    }

    .form_footer {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .margin {
        margin-right: 45px;
    }

    template {
        .modal {
            .modal__content {
                h1 {
                    color: #000000;
                }
            }
        }
    }

    .input {
        .selection {
            display: flex;
        }
    }

    @media screen and (max-width: 1025px) {
        .wrapper {
            h1 {
                font-size: 50px;
            }
        }
    }
}
