.grille {
    margin-bottom: 100px;

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        text-align: center;
    }

    h2 {
        text-align: center;
    }

    @media screen and (max-width: 1025px) {
        .wrapper {
            grid-template-columns: 1fr;
        }
    }
}
