.soutenir {
    margin-bottom: 100px;

    .wrapper {
        display: flex;
        flex-direction: column;

        h2 {
            background-size: 90% 100%;
            text-align: center;
        }

        .campagne {
            display: flex;
            justify-content: space-between;

            text-align: center;

            margin: 0;

            img {
                border: black 3px solid;
            }
        }
    }

    @media screen and (max-width: 1025px) {
        .wrapper {
            .campagne {
                display: flex;
                flex-direction: column;
            }

            h2 {
                background-size: 110% 100%;
            }
        }
    }
}
