/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #0c0f0a;

    // Couleurs du projet
    --color-primary: #b99056;
    --color-primary-darker: #285943;
    --color-secondary: #392e26;

    --color-neutral-light: #eeeeee;
    --color-neutral-dark: #888888;

    --color-fail: #f6511d;
}
