{% include '_partials/_header.html' %}
<section class="split" id="intro" data-component="Scrolly" data-repeat="no-repeat">
    <section class="hero">
        <div class="bg_hero"></div>
        <div class="wrapper">
            <div class="hero_text">
                <h1>Unique. Local. Responsable.</h1>
                <p>
                    "Notre rêve est de créer une entreprise et des produits dont nos enfants et notre communauté sont
                    fiers. C'est pourquoi nous sommes guidés par 3 piliers fondateurs : la Protection de
                    l'environnement, le Soutien alimentaire et l'Économie sociale."
                </p>
                <a href="formulaire.html" class="button">Faire une campagne</a>
            </div>
        </div>
    </section>

    <section class="produit" data-scrolly="fromRight">
        <div class="wrapper">
            <h2>Des produits uniques</h2>

            <div class="produit_texte">
                <img data-scrolly="fromRight" src="assets/images/produit.png" alt="" />

                <div>
                    <h3>Des recettes de qualités</h3>
                    <p>
                        Recettes en pot propose des expériences culinaires conviviales et responsables grâce à des
                        produits gastronomiques écologiques et conçus à la main par des artisans de l'économie sociale.
                        En achetant des Recettes en pot vous contribuez à un modèle d'économie sociale porteur d'avenir.
                    </p>
                    <a href="#" class="button">Visiter la boutique</a>
                </div>
            </div>
        </div>
    </section>

    <section class="locaux" data-scrolly="fromTop">
        <div class="wrapper">
            <h2>Des produits locaux</h2>

            <p>
                Rencontrez nos artisans qui travaillent au profit de Moisson-Mauricie-Centre-du-Québec, dans le cadre
                d'un programme d'insertion au travail. Constatez la collaboration et la fierté qui les animent.
            </p>

            <p>
                " Notre rêve est de créer une entreprise et des produits dont nos enfants et notre communauté sont
                fiers. C'est pourquoi nous sommes guidés par 3 piliers fondateurs : la Protection de l'environnement, le
                Soutien alimentaire et l'Économie sociale."
            </p>

            <div class="grid">
                <div class="video" data-component="Video" data-video-id="jxCJgTMTUhs">
                    <div class="video_media js-video">
                        <img class="js-poster" src="assets/images/poster1.jpg" alt="La vidéo twé chose" />
                        <svg class="icon icon--x1 icon--stroke">
                            <use xlink:href="#icon-play"></use>
                        </svg>
                    </div>
                </div>

                <div class="video" data-component="Video" data-video-id="rLnBvFZnud4">
                    <div class="video_media js-video">
                        <img class="js-poster" src="assets/images/poster2.jpg" alt="La vidéo twé chose" />
                        <svg class="icon icon--x1 icon--stroke">
                            <use xlink:href="#icon-play"></use>
                        </svg>
                    </div>
                </div>
            </div>

            <a class="button" href="documentation.html">Documentation</a>
        </div>
    </section>

    <section class="campagne">
        <div class="wrapper">
            <h2>Vos campagnes</h2>

            <div class="swiper" data-component="Carousel" data-carousel="navigation">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="assets/images/swipper1.jpg" alt="" />

                        <div class="swiper_contenu">
                            <p>
                                Notre fameuse minestrone n'a de rivale que la soupe aux pois traditionnelle, tandis que
                                les arômes et saveurs du chili, de la paella et de la soupe lentille-cari vous
                                transportent.
                            </p>
                            <p>
                                Des biscuits réduits en sucres, des bouchées d'énergie, des brownies décadents, des
                                muffins succulents et des pancakes nourrissantes, tout ça préparé en un jeu d'enfant.
                            </p>

                            <a href="#" class="button">Soutenir une campagne</a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <img src="assets/images/swipper2.jpg" alt="" />

                        <div class="swiper_contenu">
                            <p>
                                "Nous sommes extrêmement fiers d'avoir cru dans le talent de nos travailleurs
                                marginalisés et de nos jeunes qui font face à des défis particuliers dans leurs
                                apprentissages. Constatez et goûtez leur amour et leur fierté, contenues dans chaque
                                pot." <br />
                                <strong>Dalai lama</strong>
                            </p>

                            <a href="#" class="button">Soutenir une campagne</a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <img src="assets/images/swipper3.jpg" alt="" />

                        <div class="swiper_contenu">
                            <p>
                                En partageant mes recettes, je voulais rassurer les gens qui doivent s’adapter à des
                                restrictions alimentaires, les aider à cuisiner pour qu’ils arrivent à manger avec
                                gourmandise malgré les sans.
                            </p>
                            <p>
                                Je ne fais jamais de compromis sur le goût parce que je suis trop gourmande pour me
                                contenter d’un plat juste pas pire!
                            </p>

                            <a href="#" class="button">Soutenir une campagne</a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <img src="assets/images/swipper4.jpg" alt="" />

                        <div class="swiper_contenu">
                            <p>
                                Pour chaque Recette en pot vendue nous remettons une portion-repas de notre fameuse
                                soupe minestrone à une banque alimentaire membre du réseau des Banques Alimentaires du
                                Québec.
                            </p>

                            <p>
                                Ce programme inspiré de la philosophie du "donner su suivant" a permis de remettre plus
                                de 1 Million de repas jusqu'ici, grâce à votre aide.
                            </p>

                            <a href="#" class="button">Soutenir une campagne</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </section>

    <section class="soutenir" data-scrolly="fromLeft">
        <div class="wrapper">
            <h2>Quelle campagne voulez vous soutenir ?</h2>

            <div class="campagne">
                <div>
                    <img src="assets/images/Rectangle 36.jpg" alt="" />
                    <h5>SPPH-GardeManger</h5>
                </div>
                <div>
                    <img src="assets/images/Rectangle 64.jpg" alt="" />
                    <h5>Les flammes du nord</h5>
                </div>
                <div>
                    <img src="assets/images/Rectangle 65.jpg" alt="" />
                    <h5>Association PREP UQAR</h5>
                </div>
                <div>
                    <img src="assets/images/Rectangle 66.jpg" alt="" />
                    <h5>Bal Liberté Jeunesse</h5>
                </div>
            </div>
        </div>
    </section>

    <section class="option" data-scrolly="fromRight">
        <div class="wrapper">
            <h2>Choisir une option</h2>

            <div class="gros">
                <div class="choix">
                    <img src="assets/images/cour.jpg" alt="" />
                    <h5>Contribuer à une campagne en cours</h5>
                    <p>Choisissez la collecte de fonds à laquelle vous désirez contribuer.</p>

                    <a href="#" class="button">Campagne en cours</a>
                </div>

                <div class="choix">
                    <img src="assets/images/levée.jpg" alt="" />
                    <h5>Créer une levée de fonds</h5>
                    <p>Démarrez une nouvelle campagne de financement.</p>

                    <a href="#" class="button">Lancer une campagne</a>
                </div>
            </div>
        </div>
    </section>

    <section class="grille" data-scrolly="fromLeft">
        <h2>Les avantages</h2>
        <div class="wrapper">
            <div>
                <img src="assets/images/bouclier.png" alt="" />
                <p><strong>Votre Prix, Votre Profit</strong></p>
                <p>Déterminez votre prix de vente et ainsi votre profit, en fonction de votre stratégie de vente.</p>
            </div>

            <div>
                <img src="assets/images/persons.png" alt="" />
                <p><strong>BOUTIQUE DE VENTE EN LIGNE</strong></p>
                <p>Diffusez largement auprès de vos supporteurs et laissez la plateforme gérer les transactions.</p>
            </div>

            <div>
                <img src="assets/images/crayon.png" alt="" />
                <p><strong>TABLEAU DE BORD COMPLET</strong></p>
                <p>Gérez vos commandes et vos résultats à partir de votre portail personnalisé.</p>
            </div>

            <div>
                <img src="assets/images/étoile.png" alt="" />
                <p><strong>OUTILS MÉDIAS SOCIAUX</strong></p>
                <p>Suivez nos conseils et utilisez nos outils pour profiter pleinement des pouvoirs du web.</p>
            </div>

            <div>
                <img src="assets/images/fusée.png" alt="" />
                <p><strong>LIVRAISON GRATUITE</strong></p>
                <p>Décidez d'offrir la livraison gratuite à domicile* ou au point de chute à vos supporteurs.</p>
            </div>

            <div>
                <img src="assets/images/main.png" alt="" />
                <p><strong>PRÉPARATION DES COMMANDES</strong></p>
                <p>
                    Faites préparer les commandes individuelles de vos participants*, pour aider la distribution.
                    <br />*Des frais et des conditions s'appliquent.
                </p>
            </div>
        </div>
    </section>

    <section class="boutique" data-scrolly="fromRight">
        <div class="wrapper">
            <h2>Nos meilleurs produits</h2>

            <div class="all_pot">
                <div class="pot">
                    <img src="assets/images/brownies.jpg" alt="" />

                    <p><strong>Brownies classiques</strong></p>
                    <p>
                        Une belle farine à pâtisserie, avec du cacao foncé, de la cassonade tassée, un peu de sucre pour
                        la texture et des brisures de chocolat noir. Je l’avoue, mes résolutions de l’année ont pris le
                        bord :)
                    </p>

                    <div class="prix">
                        <p><strong>9.99$</strong></p>
                        <p><span>12.00$</span></p>
                    </div>

                    <a href="#" class="button"
                        >Ajouter au panier
                        <svg class="icon">
                            <use xlink:href="#icon-carosse"></use>
                        </svg>
                    </a>
                </div>

                <div>
                    <img src="assets/images/muffin.jpg" alt="" />
                    <p><strong>Muffins pomme raisin</strong></p>
                    <p>
                        Votée « la plus susceptible d’être cuisinée hebdomadairement » par notre équipe. Vous
                        succomberez au goût réconfortant de ces muffins, combinant la légèreté des bouchées de pommes
                        avec le sucré des raisins en une solution parfaite pour le déjeuner et les collations.
                    </p>

                    <div>
                        <p><strong>9.99$</strong></p>
                        <p><span>12.00$</span></p>
                    </div>

                    <a href="#" class="button"
                        >Ajouter au panier
                        <svg class="icon">
                            <use xlink:href="#icon-carosse"></use>
                        </svg>
                    </a>
                </div>

                <div>
                    <img src="assets/images/crepe.jpg" alt="" />
                    <p><strong>Crêpes aux pommes</strong></p>
                    <p>
                        Ce déjeuner ou cette collation saine plairont à tous. Roulez-les, empilez-les, trempez-les dans
                        la crème ou couvrez-les de sirop, en déplacement ou pour le brunch de fin de semaine. Les
                        bouchées de pommes vont titiller votre dent sucrée, tandis que le riche goût de notre mélange
                        spécial de 9 farines vous comblera.
                    </p>

                    <div>
                        <p><strong>9.99$</strong></p>
                        <p><span>12.00$</span></p>
                    </div>

                    <a href="#" class="button"
                        >Ajouter au panier
                        <svg class="icon">
                            <use xlink:href="#icon-carosse"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="information">
        <div class="wrapper">
            <h3>"Nous sommes là pour discuter avec vous de la meilleure stratégie à adopter"</h3>
            <a href="#" class="button">Nous contacter</a>
        </div>
    </section>

    <div class="cursor" data-component="Cursor"></div>
</section>

{% include '_partials/_footer.html' %}
